body{
    margin: 0px;
}

.matematrik-container{
    background: #D7EDF1;
    padding-bottom: 20px;
}

#div-matematrik{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#matematrik-content{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-matematrik{
    height: 200px;
    width: 232px;
    align-self: center;
    margin-top: 75px;
    margin-bottom: 50px;
}

#matematrik-title{
    font-family: var(--h2-fonte);
    color: var(--h2-escuro);
    font-weight: bold;
    font-size: var(--h2-tamanho);
    margin-top: 50px;
    text-align: center;
}

.paragrafo-matematrik{
    font-family: var(--descricao-cases-fonte);
    color: var(--descricao-cases);
    font-size: var(--descricao-cases-tamanho);
    text-align: center;
}

/*tablet*/
@media screen and (max-width: 816px) {
    .matematrik-container{
        padding-bottom: 20px;
    }

    #matematrik-content{
        width: 70%;
    }

    #img-matematrik{
        height: 180px;
        width: 202px;
    }
}

/*mobile*/
@media screen and (max-width: 480px){
    .matematrik-container{
        padding-bottom: 20px;
    }

    #matematrik-content{
        width: 75%;
    }

    #img-matematrik{
        height: 99px;
        width: 110px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    
    #matematrik-title{
        margin-top: 30px;
    }
}

/* E-aulas */
.e-aulas h2 {
   font-family: var(--h2-fonte);
   color: var(--h2-escuro);
   font-size: var(--h2-tamanho);
   text-transform: uppercase;
   text-align: center;
   margin: 0 0 40px 0;
}

.e-aulas-img {
   display: flex;
   justify-content: center;
}

.e-aulas img {
   max-width: 300px;
   align-self: center;
}

.e-aulas-paragrafo {
   max-width: 780px;
   margin: 0 auto;
}

.e-aulas-paragrafo p {
   font-family: var(--descricao-cases-fonte);
   font-size: var(--descricao-cases-tamanho);
   color: var(--descricao-cases);
   margin: 70px 10px 0 10px;
   text-align: center;
}

@media screen and (max-width: 768px) {
   .e-aulas h2 {
      font-size: var(--h2-tamanho);
   }

   .e-aulas-paragrafo p {
      font-size: var(--descricao-cases-tamanho);
      padding: 0 40px 0 40px;
      margin: 50px 10px 0 10px;
      font-weight: bold;
   }
}

@media screen and (max-width: 480px) {
   .e-aulas h2 {
      font-size: var(--h2-tamanho);
      margin: 0 0 10px 0;
   }

   .e-aulas img {
      max-width: 150px;
   }

   .e-aulas-paragrafo p {
      font-size: var(--descricao-cases-tamanho);
      padding: 0 10px 0 10px;
      margin: 20px 10px 0 10px;
      font-weight: bold;
   }
}