/* Por que nos contratar?*/

/* Por que nos contratar? - título*/

.por-que-nos-contratar h2{
    text-align: center;
    font-family: var(--h2-fonte);
    font-size: var(--h2-tamanho);
    color: var(--h2-escuro);
    font-weight: bold;
}

.por-que-nos-contratar h2::after{
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background: var(--h4-chamada-servicos);
  margin: 14px auto 10px auto;
  border-radius: 10px;
}

/* Lista de ícones */

.container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;  
}

.item {
  background-color: var(--cor-header);
  border-radius: 50%;
  height: 145px;
  width: 145px;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 70%;
}

/* Lista de textos */
.item p{
    text-align: center;
    font-family: var(--h2-fonte);
    font-size: var(--h4-tamanho);
    font-weight: bold;
    color: var(--h2-escuro);
    margin: 60px 2%;
}


/*tablet*/
@media screen and (max-width: 768px){
    .por-que-nos-contratar h2{
        font-size: var(--h2-tamanho);
    }
}

/*mobile*/
@media screen and (max-width: 480px){
    .por-que-nos-contratar h2{
        font-size: var(--h2-tamanho);
    }

    .item{
        height: 100px;
        width: 100px;
    }

    .item img {
        margin-top: 15px;
    }

    
}