.container {
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
.intro {
  width: 100%;
  height: 300px;
  background: url("/logo-preenchimento-peq.png") no-repeat center,
    linear-gradient(to bottom, #d7edf1, #ffffff);
  padding-top: 10px;
}

.intro h1 {
  font-family: var(--h1-fonte);
  text-transform: uppercase;
  font-size: var(--h1-tamanho);
  color: var(--h1-padrao);
  text-align: center;
  margin-top: 110px;
}

.descricao-servicos {
  text-align: center;
  font-family: var(--descricao-padrao-fonte);
  font-size: var(--descricao-padrao-tamanho);
  color: var(--descricao-padrao);
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
  .container {
    padding: 0 10%;
  }
}
@media screen and (max-width: 787px) {
  .container {
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0 10%;
  }
}
