/* Banner e Descrição */
.container {
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.intro {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom, #d7edf1, #ffffff);
  background-size: cover;
  padding-top: 30px;
}

.intro h1 {
  font-family: var(--h1-fonte);
  font-size: var(--h1-tamanho);
  text-align: center;
  margin-top: 100px;
  color: var(--h1-padrao);
  margin-left: 45px;
  margin-right: 45px;
}

.descricao-servicos {
  text-align: center;
  font-family: var(--descricao-padrao-fonte);
  font-size: var(--descricao-padrao-tamanho); /*arrumar*/
  color: var(--descricao-padrao);
}

/* Serviços */
.container-servicos{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1250px;
}

.container-servicos div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.container-servicos div:not(:nth-child(02)){
  margin-top: 30px;
}

.container-servicos div.logo-servicos{
  font-family: var(--h2-fonte);
  font-size: var(--h2-tamanho);
  color: var(--h2-claro);
  height: unset;
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.container-servicos .logo-servicos h2{
  margin-top: 50px;
}

.container-desc-servicos::after{
  content: "";
  display: block;
  background-color: #29AAE3;
  height: 2px;
  width: 65%;
  position: absolute;
  margin-top: 75px;
  margin-left: 15px;
  max-width: 935px;
}

.container-desc-servicos:hover{
  background-color: #D7EDF1;
  border-radius: 30px;
  transition: .5s;
}

.container-servicos div h3{
  font-family: var(--h3-fonte);
  font-size: var(--h3-tamanho);
  font-weight: bold;
  color: var(--h3);
  padding-left: 15px;
}

.container-servicos div p{
  font-family: var(--descricao-padrao-fonte);
  font-size: var(--descricao-padrao-tamanho);
  color: var(--descricao-padrao);
  padding-right: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    padding: 0 10%;
  }

  .container-servicos div{
    height: 120px;
  }

  .container-desc-servicos::after{
    margin-top: 115px;
  }
}

@media screen and (max-width: 787px) {
  .container {
    padding: 0 10%;
  }

  .container-servicos div{
    height: 110px;
  }

  .container-desc-servicos::after{
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10%;
  }
  .container-servicos .logo-servicos img{
    width: 115px;
  }
}

/* Produtos */
.container-produtos{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1250px;
}

.container-produtos div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.container-chamada-servicos{
  font-family: var(--h4-fonte);
  font-size: var(--h4-tamanho);
  color: var(--h4-chamada-servicos);
  text-align: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 75px;
}

.container-chamada-servicos a:hover{
  color: #161571;
  transition: 1s;
}

/* PRODUTOS-NOSSOS-CASES */
.nossos-cases {
  padding: 60px  0  60px  0 ;
  text-align:center;
  max-width:1024px ;
  margin: 0 auto;
}

.nossos-cases h2 {
  font-size: var(--h2-tamanho);
  font-family: var(--h2-fonte);
  color: var(--h2-claro);
  font-weight: bold;
}

.case-elemento {
  display :flex;
flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  width:100% ;
}
.nossos-cases-container {
  display : flex;
  gap: 20px ;
  flex-wrap : wrap;
  justify-content:center;
  margin-top:  30px ;
  flex-direction: row;
  align-items: flex-start;
}

.nossos-case-elemento {
flex :  1 ;
display : flex;
flex-direction:column;
justify-content : space-around;
     
}

.nossos-case-elemento  img {
  width:  200px ;
  height:auto;
  align-self:center;
  margin-top:20px ;
}

.nossos-case-elemento  p {
 font-family:var(--h3-fonte);
 font-size:var(--h3-tamanho);
 color:var(--h3);
 font-weight:bold;
 margin-bottom : auto;
 margin-top:auto;
}

@media only screen and (max-width: 768px) {
  .nossos-cases-container{
     gap:10px ;
  }

  .nossos-case-elemento {
      width:  35% ;
      margin-bottom:  20px ;
  }

  .nossos-case-elemento  img {
    width:  150px ;
 }
}

@media only screen and (max-width:480px) {
  .nossos-case-elemento {
    flex-basis:100%;
  }

  .nossos-cases-container {
      gap:  20px ;
  }

  .nossos-case-elemento  p {
      margin-left:  10% ;
      margin-right: 10% ;
  }
}

.container-produtos div:not(:nth-child(02)){
  margin-top: 30px;
}

.container-produtos div.logo-produtos{
  font-family: var(--h2-fonte);
  font-size: var(--h2-tamanho);
  color: var(--h2-claro);
  height: unset;
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.container-produtos .logo-produtos h2{
  margin-top: 50px;
}

.container-desc-produtos::after{
  content: "";
  display: block;
  background-color: #29AAE3;
  height: 2px;
  width: 65%;
  position: absolute;
  margin-top: 75px;
  margin-left: 15px;
  max-width: 935px;
}

.container-desc-produtos:hover{
  background-color: #D7EDF1;
  border-radius: 30px;
  transition: .5s;
}

.container-produtos div h3{
  font-family: var(--h3-fonte);
  font-size: var(--h3-tamanho);
  font-weight: bold;
  color: var(--h3);
  padding-left: 15px;
}

.container-produtos div p{
  font-family: var(--descricao-padrao-fonte);
  font-size: var(--descricao-padrao-tamanho);
  color: var(--descricao-padrao);
  padding-right: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .container {
    padding: 0 10%;
  }

  .container-produtos div{
    height: 120px;
  }

  .container-desc-produtos::after{
    margin-top: 115px;
  }
}

@media screen and (max-width: 787px) {
  .container {
    padding: 0 10%;
  }

  .container-produtos div{
    height: 115px;
  }

  .container-desc-produtos::after{
    margin-top: 115px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 10%;
  }
  .container-produtos .logo-produtos img{
    width: 115px;
  }

  .container-chamada-servicos{
    margin-top: 30px;
  }
}
