:root {
    font-size: 62.5%;
    /*fontes e tamanhos*/
    --h1-tamanho: 7.2rem;
    --h1-fonte: Cinzel; /*utilize com font-weight: bold*/

    --h2-tamanho: 3.6rem;
    --h2-fonte: Cinzel; /*utilize com font-weight: bold*/

    --h3-tamanho: 3rem;
    --h3-fonte: Cinzel; /*utilize com font-weight: bold*/

    --h4-tamanho: 2.4rem;
    --h4-fonte: Cinzel; /*utilize com font-weight: bold*/

    --botoes-tamanho: 2rem;
    --botoes-fonte: Cinzel; /*utilize com font-weight: bold*/

    --header-tamanho: 1.8rem;
    --header-fonte: Cinzel; /*utilize com font-weight: bold*/

    --sub-header-tamanho: 1.4rem;
    --sub-header-fonte: Cinzel; /*utilize com font-weight: bold*/

    --menu-mobile-tamanho: 1.8rem;
    --menu-mobile-fonte: Montserrat;

    --footer-tamanho: 1.2rem;
    --footer-fonte: Montserrat;

    --forms-tamanho: 1.2rem;
    --forms-fonte: Montserrat;

    --enviar-tamanho: 1.8rem;
    --enviar-fonte: Montserrat;

    --dev-beets-tamanho: 1.1rem;
    --dev-beets-fonte: Montserrat;

    --descricao-padrao-tamanho: 1.4rem;
    --descricao-padrao-fonte: Montserrat;

    --descricao-cases-tamanho: 2.4rem;
    --descricao-cases-fonte: Cinzel;

    --descricao-contato-tamanho: 2.4rem;
    --descricao-contato-fonte: Montserrat;

    --subtitulo-banner-tamanho: 2.4rem;
    --subtitulo-banner-fonte: Cinzel; /*utilize com font-weight: bold*/

    --paragrafo-home-tamanho: 2.4rem;
    --paragrafo-home-fonte: Cinzel;

    --titulo-servicos-tamanho: 2.8rem;
    --titulo-servicos-fonte: Cinzel; /*utilize com font-weight: bold*/

    --aluno-ou-professor-tamanho: 1.8rem;
    --aluno-ou-professor-fonte: Cinzel; /*utilize com font-weight: bold*/

    /*cores*/
    --h1-home: #ffffff;
    --h1-padrao: #055d7c;
    --h2-escuro: #161571;
    --h2-claro: #055d7c;
    --h3: #161571;
    --h4: #161571;
    --h4-chamada-servicos: #cfab00;

    --cor-footer: #ffffff;
    --cor-header: #84b5be;
    --cor-fundo-header: #d7edf1;
    --cor-fundo-header-hover: #ffffff;
    --cor-header-hover: #161571;
    --cor-subheader-hover: #ffffff;
    --cor-fundo-menu-mobile: #ffffff;
    --cor-fundo-menu-mobile-ativo: #d7edf1;
    --cor-fundo-menu-mobile-contato: #0d4068;
    --cor-menu-mobile-contato: #ffffff;
    --forms: #000000;
    --enviar: #ffffff;

    --titulo-servicos: #161571;
    --paragrafo-home: #161571;
    --descricao-padrao: #000000;

    --descricao-rede-delta-home: #cfab00;
    --descricao-cases: #161571;
    --aluno-ou-professor: #161571;
    --linha-titulo-secao-home: #fcd108;
    --fundo-azul-home: #d7edf1;
}

/*tablet*/
@media screen and (max-width: 768px) {
    :root {
        --h1-tamanho: 6.4rem;
        --h2-tamanho: 3rem;
        --h3-tamanho: 1.4rem;

        --botoes-tamanho: 2rem;

        --header-tamanho: 1.4rem;

        --descricao-cases-tamanho: 2rem;

        --subtitulo-banner-tamanho: 2rem;
        --paragrafo-home-tamanho: 1.8rem;

        --titulo-servicos-tamanho: 2.4rem;
        --aluno-ou-professor-tamanho: 1.6rem;

        --cor-header: #161571;
    }
}

/*mobile*/
@media screen and (max-width: 480px) {
    :root {
        --h1-tamanho: 3.6rem;
        --h2-tamanho: 1.8rem;
        --h3-tamanho: 1.8rem;
        --h4-tamanho: 1.4rem;

        --botoes-tamanho: 1.4rem;

        --header-tamanho: 1.8rem;
        --menu-mobile-tamanho: 1.2rem;
        --footer-tamanho: 1.2rem;
        --forms-tamanho: 1.2rem;
        --enviar-tamanho: 1.8rem;
        --dev-beets-tamanho: 1.1rem;

        --descricao-padrao-tamanho: 1rem;
        --descricao-cases-tamanho: 1rem;
        --descricao-contato-tamanho: 1.8rem;

        --subtitulo-banner-tamanho: 1.2rem;
        --paragrafo-home-tamanho: 1.2rem;

        --titulo-servicos-tamanho: 1.4rem;
        --aluno-ou-professor-tamanho: 1.4rem;
    }
}

/* Botão Geral */
/* Para a classe do botão geral é necessário usar uma outra classe junta, a classe borda.
    Exemplo: <button class="btn-padrao borda">Quero conhecer</button>
*/
.btn-padrao {
    font: var(--botoes-fonte);
    font-size: var(--botoes-tamanho);
    text-transform: uppercase;
    color: var(--h2-escuro);
    font-weight: bold;
    /* background-color: var(--enviar); */
    padding: 15px 20px;
    border: 4px solid;
    border-top: 0;
    border-bottom: 0;
    background-color: transparent;
}

.borda {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* linha de cima */
.borda::before {
    content: '';
    position: absolute;
    background-color: var(--h2-escuro);
    width: 50%;
    height: 4px;
    top: 0;
    left: 50%;
}

/* linha de baixo */
.borda::after {
    content: '';
    position: absolute;
    background-color: var(--h2-escuro);
    width: 50%;
    height: 4px;
    bottom: 0;
    left: 0;
}

/* MENU */
.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: var(--cor-fundo-header);
}

.logo-menu {
    height: 70px;
    padding: 2rem;
}

nav {
    display: flex;
    align-items: stretch;
}

.menu {
    display: flex;
    gap: 1.5rem;
    font: bold var(--header-tamanho) var(--header-fonte), serif;
    color: var(--cor-header);
    text-transform: uppercase;
}

#menu-item-ativo > a,
#menu-item-ativo > a:visited,
#menu-item-ativo > span {
    color: var(--cor-header-hover);
}

.menu-item {
    display: flex;
    align-items: stretch;
}

.menu-item:hover {
    background-color: var(--cor-fundo-header-hover);
    transition: 0.5s;
}

.menu .menu-item:hover > * {
    color: var(--cor-header-hover);
    transition: 0.5s;
}

.menu-item > a,
.menu-item > a:visited {
    text-decoration: none;
    color: var(--cor-header);
}

.menu-item > a,
.menu-item > span {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(70px + 4rem);
    background-color: var(--cor-fundo-header-hover);
}

.dropdown-menu:hover .submenu {
    display: inline-block;
}

.submenu a,
.submenu a:visited {
    font: bold var(--sub-header-tamanho) var(--sub-header-fonte), serif;
    color: var(--cor-header-hover);
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

.submenu-item {
    display: flex;
    justify-content: center;
}

.submenu-item:hover {
    background-color: var(--cor-header-hover);
    transition: 0.5s;
}

.submenu-item:hover > a,
.submenu-item:hover > a:visited {
    color: var(--cor-fundo-header-hover);
}

/* MENU MOBILE */
#btn-mobile {
    display: none;
}

#btn-mobile {
    border: none;
    background: none;
    cursor: pointer;
}

.menu-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: calc(70px + 4rem);
    width: 100vw;
    height: 0;
    background-color: var(--cor-fundo-menu-mobile);
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.6s;
}

#nav.ativo .menu-mobile {
    height: calc(100vh - (70px + 4rem));
    visibility: visible;
    overflow-y: auto;
}

.menu-mobile-item {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#mobile-item-ativo {
    background-color: var(--cor-fundo-menu-mobile-ativo);
}

#mobile-item-ativo a,
#mobile-item-ativo a:visited {
    font-weight: bold;
}

.menu-mobile-item.menu-contato {
    background-color: var(--cor-fundo-menu-mobile-contato);
}

.menu-mobile-item.menu-contato a,
.menu-mobile-item.menu-contato a:visited {
    color: var(--cor-menu-mobile-contato);
}

.menu-mobile a,
.menu-mobile a:visited {
    display: block;
    font: var(--menu-mobile-tamanho) var(--menu-mobile-fonte), sans-serif;
    color: var(--cor-header);
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    #btn-mobile {
        display: block;
    }
}
/* Botão Geral */
/* Para a classe do botão geral é necessário usar uma outra classe junta, a classe borda.
    Exemplo: <button class="btn-padrao borda">Quero conhecer</button>
*/
.btn-padrao {
    font: var(--botoes-fonte);
    font-size: var(--botoes-tamanho);
    text-transform: uppercase;
    color: #84b5be;
    font-weight: bold;
    background-color: var(--enviar);
    padding: 15px 20px;
    border: 4px solid;
    border-top: 0;
    border-bottom: 0;
}

.borda {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* linha de cima */
.borda::before {
    content: '';
    position: absolute;
    background-color: #84b5be;
    width: 50%;
    height: 4px;
    top: 0;
    left: 50%;
}

/* linha de baixo */
.borda::after {
    content: '';
    position: absolute;
    background-color: #84b5be;
    width: 50%;
    height: 4px;
    bottom: 0;
    left: 0;
}

/* abreviações */
abbr {
    text-decoration: none;
}

/* Footer */
.footer {
    background-color: #38377b;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--footer-fonte);
    font-size: var(--footer-tamanho);
    color: var(--cor-footer);
    font-weight: 700;
    justify-content: flex-end;
}

.logo-footer,
.redes,
.info {
    flex: 1;
}

.logo-footer {
    text-align: center;
}

.logo-footer img {
    width: 180px;
}

.redes a {
    text-decoration: none;
    color: var(--cor-footer);
}

.redes p {
    margin: 10px 0;
}

.redes p:nth-of-type(2) {
    font-weight: 400;
    margin-bottom: 15px;
}

.redes img {
    padding-right: 10px;
}

.redes span {
    border-style: solid;
    border-width: 4px;
    border-color: var(--h2-escuro);
    background-color: var(--h2-escuro);
    border-radius: 10px;
    font-family: var(--dev-beets-fonte);
    font-size: var(--dev-beets-tamanho);
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    flex-direction: column;
}

.container-menor,
.container-maior {
    display: flex;
    flex-wrap: nowrap;
}

.container-menor div:nth-last-of-type(even),
.container-maior div:nth-last-of-type(even) {
    flex-grow: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container-menor div:nth-last-of-type(odd) {
    flex-grow: 1;
    padding-top: 5px;
}

.container-maior div:nth-last-of-type(odd) {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .logo-footer img {
        width: 120px;
    }

    .container div:nth-last-of-type(even) {
        flex-grow: 0;
        margin-right: 10px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        flex-direction: column;
    }

    .logo-footer {
        text-align: center;
    }

    .logo-footer img {
        width: 160px;
    }

    .redes {
        order: 4;
        text-align: center;
        margin-top: 15px;
    }
}
