:root {
  font-size: 62.5%;
  /*fontes e tamanhos*/
  --h1-tamanho: 7.2rem;
  --h1-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h2-tamanho: 3.6rem;
  --h2-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h3-tamanho: 3rem;
  --h3-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h4-tamanho: 2.4rem;
  --h4-fonte: Cinzel; /*utilize com font-weight: bold*/

  --botoes-tamanho: 2rem;
  --botoes-fonte: Cinzel; /*utilize com font-weight: bold*/

  --header-tamanho: 1.8rem;
  --header-fonte: Cinzel; /*utilize com font-weight: bold*/

  --footer-tamanho: 1.2rem;
  --footer-fonte: Montserrat;

  --forms-tamanho: 1.2rem;
  --forms-fonte: Montserrat;

  --enviar-tamanho: 1.8rem;
  --enviar-fonte: Montserrat;

  --dev-beets-tamanho: 1.1rem;
  --dev-beets-fonte: Montserrat;

  --descricao-padrao-tamanho: 1.4rem;
  --descricao-padrao-fonte: Montserrat;

  --descricao-cases-tamanho: 2.4rem;
  --descricao-cases-fonte: Montserrat;

  --descricao-contato-tamanho: 2.4rem;
  --descricao-contato-fonte: Montserrat;

  --subtitulo-banner-tamanho: 2.4rem;
  --subtitulo-banner-fonte: Cinzel; /*utilize com font-weight: bold*/

  --paragrafo-home-tamanho: 2.4rem;
  --paragrafo-home-fonte: Cinzel;

  --titulo-servicos-tamanho: 2.8rem;
  --titulo-servicos-fonte: Cinzel; /*utilize com font-weight: bold*/

  --aluno-ou-professor-tamanho: 1.8rem;
  --aluno-ou-professor-fonte: Cinzel; /*utilize com font-weight: bold*/

  /*cores*/
  --h1-home: #ffffff;
  --h1-padrao: #055d7c;
  --h2-escuro: #161571;
  --h2-claro: #055d7c;
  --h3: #161571;
  --h4: #161571;
  --h4-chamada-servicos: #cfab00;

  --cor-footer: #ffffff;
  --cor-header: #84b5be;
  --cor-header-hover: #161571;
  --forms: #000000;
  --enviar: #ffffff;

  --titulo-servicos: #161571;
  --paragrafo-home: #161571;
  --descricao-padrao: #000000;

  --descricao-rede-delta-home: #cfab00;
  --descricao-cases: #161571;
  --aluno-ou-professor: #161571;
}

/*tablet*/
@media screen and (max-width: 768px) {
  :root {
    --h1-tamanho: 6.4rem;
    --h2-tamanho: 3rem;
    --h3-tamanho: 1.4rem;

    --botoes-tamanho: 2rem;

    --header-tamanho: 1.4rem;

    --descricao-cases-tamanho: 2rem;

    --subtitulo-banner-tamanho: 2rem;
    --paragrafo-home-tamanho: 1.8rem;

    --titulo-servicos-tamanho: 2.4rem;
    --aluno-ou-professor-tamanho: 1.6rem;
  }
}

/*mobile*/
@media screen and (max-width: 480px) {
  :root {
    --h1-tamanho: 3.6rem;
    --h2-tamanho: 1.8rem;
    --h3-tamanho: 1.8rem;
    --h4-tamanho: 1.4rem;

    --botoes-tamanho: 1.4rem;

    --header-tamanho: 1.8rem;
    --footer-tamanho: 1.2rem;
    --forms-tamanho: 1.2rem;
    --enviar-tamanho: 1.8rem;
    --dev-beets-tamanho: 1.1rem;

    --descricao-padrao-tamanho: 1rem;
    --descricao-cases-tamanho: 1rem;
    --descricao-contato-tamanho: 1.8rem;

    --subtitulo-banner-tamanho: 1.2rem;
    --paragrafo-home-tamanho: 1.2rem;

    --titulo-servicos-tamanho: 1.4rem;
    --aluno-ou-professor-tamanho: 1.4rem;
  }
}

/* Footer */

.footer {
  background-color: #38377b;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--footer-fonte);
  font-size: var(--footer-tamanho);
  color: var(--cor-footer);
  font-weight: 700;
  justify-content: flex-end;
}

.logo,
.redes,
.info {
  flex: 1;
}

.logo {
  text-align: center;
}

.logo img {
  width: 180px;
  /* align-self: flex-end; */
}

.redes p {
  margin: 10px 0;
}

.redes p:nth-of-type(2) {
  font-weight: 400;
  margin-bottom: 15px;
}

.redes img {
  padding-right: 10px;
}

.redes span {
  border-style: solid;
  border-width: 4px;
  border-color: var(--h2-escuro);
  background-color: var(--h2-escuro);
  border-radius: 10px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  flex-direction: column;
}

.container-menor,
.container-maior {
  display: flex;
  flex-wrap: wrap;
}

.container-menor div:nth-last-of-type(even),
.container-maior div:nth-last-of-type(even) {
  flex-grow: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container-menor div:nth-last-of-type(odd) {
  flex-grow: 1;
  padding-top: 5px;
}

.container-maior div:nth-last-of-type(odd) {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 120px;
  }

  .container div:nth-last-of-type(even) {
    flex-grow: 0;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }

  .logo {
    /* margin-left: 99px; */
    text-align: center;
  }

  .logo img {
    width: 160px;
  }

  .redes {
    order: 4;
    text-align: center;
    margin-top: 15px;
  }
}
