:root {
  font-size: 62.5%;
  /*fontes e tamanhos*/
  --h1-tamanho: 7.2rem;
  --h1-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h2-tamanho: 3.6rem;
  --h2-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h3-tamanho: 3rem;
  --h3-fonte: Cinzel; /*utilize com font-weight: bold*/

  --h4-tamanho: 2.4rem;
  --h4-fonte: Cinzel; /*utilize com font-weight: bold*/

  --botoes-tamanho: 2rem;
  --botoes-fonte: Cinzel; /*utilize com font-weight: bold*/

  --header-tamanho: 1.8rem;
  --header-fonte: Cinzel; /*utilize com font-weight: bold*/

  --sub-header-tamanho: 1.4rem;
  --sub-header-fonte: Cinzel; /*utilize com font-weight: bold*/

  --menu-mobile-tamanho: 1.8rem;
  --menu-mobile-fonte: Montserrat;

  --footer-tamanho: 1.2rem;
  --footer-fonte: Montserrat;

  --forms-tamanho: 1.2rem;
  --forms-fonte: Montserrat;

  --enviar-tamanho: 1.8rem;
  --enviar-fonte: Montserrat;

  --dev-beets-tamanho: 1.1rem;
  --dev-beets-fonte: Montserrat;

  --descricao-padrao-tamanho: 1.4rem;
  --descricao-padrao-fonte: Montserrat;

  --descricao-cases-tamanho: 2.4rem;
  --descricao-cases-fonte: Montserrat;

  --descricao-contato-tamanho: 2.4rem;
  --descricao-contato-fonte: Montserrat;

  --subtitulo-banner-tamanho: 2.4rem;
  --subtitulo-banner-fonte: Cinzel; /*utilize com font-weight: bold*/

  --paragrafo-home-tamanho: 2.4rem;
  --paragrafo-home-fonte: Cinzel;

  --titulo-servicos-tamanho: 2.8rem;
  --titulo-servicos-fonte: Cinzel; /*utilize com font-weight: bold*/

  --aluno-ou-professor-tamanho: 1.8rem;
  --aluno-ou-professor-fonte: Cinzel; /*utilize com font-weight: bold*/

  /*cores*/
  --h1-home: #ffffff;
  --h1-padrao: #055d7c;
  --h2-escuro: #161571;
  --h2-claro: #055d7c;
  --h3: #161571;
  --h4: #161571;
  --h4-chamada-servicos: #cfab00;

  --cor-footer: #ffffff;
  --cor-header: #84b5be;
  --cor-fundo-header: #D7EDF1;
  --cor-fundo-header-hover: #ffffff;
  --cor-header-hover: #161571;
  --cor-subheader-hover: #ffffff;
  --cor-fundo-menu-mobile: #ffffff;
  --cor-fundo-menu-mobile-ativo: #D7EDF1;
  --cor-fundo-menu-mobile-contato: #0D4068;
  --cor-menu-mobile-contato: #ffffff;
  --forms: #000000;
  --enviar: #ffffff;

  --titulo-servicos: #161571;
  --paragrafo-home: #161571;
  --descricao-padrao: #000000;

  --descricao-rede-delta-home: #cfab00;
  --descricao-cases: #161571;
  --aluno-ou-professor: #161571;
}

/*tablet*/
@media screen and (max-width: 768px) {
  :root {
    --h1-tamanho: 6.4rem;
    --h2-tamanho: 3rem;
    --h3-tamanho: 1.4rem;

    --botoes-tamanho: 2rem;

    --header-tamanho: 1.4rem;

    --descricao-cases-tamanho: 2rem;

    --subtitulo-banner-tamanho: 2rem;
    --paragrafo-home-tamanho: 1.8rem;

    --titulo-servicos-tamanho: 2.4rem;
    --aluno-ou-professor-tamanho: 1.6rem;

    --cor-header: #161571;
  }
}

/*mobile*/
@media screen and (max-width: 480px) {
  :root {
    --h1-tamanho: 3.6rem;
    --h2-tamanho: 1.8rem;
    --h3-tamanho: 1.8rem;
    --h4-tamanho: 1.4rem;

    --botoes-tamanho: 1.4rem;

    --header-tamanho: 1.8rem;
    --menu-mobile-tamanho: 1.2rem;
    --footer-tamanho: 1.2rem;
    --forms-tamanho: 1.2rem;
    --enviar-tamanho: 1.8rem;
    --dev-beets-tamanho: 1.1rem;

    --descricao-padrao-tamanho: 1rem;
    --descricao-cases-tamanho: 1rem;
    --descricao-contato-tamanho: 1.8rem;

    --subtitulo-banner-tamanho: 1.2rem;
    --paragrafo-home-tamanho: 1.2rem;

    --titulo-servicos-tamanho: 1.4rem;
    --aluno-ou-professor-tamanho: 1.4rem;
  }
}

/* MENU */
.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: var(--cor-fundo-header);
}

.logo {
  height: 70px;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: stretch;
}

.menu {
  display: flex;
  gap: 1.5rem;
  font: bold var(--header-tamanho) var(--header-fonte), serif;
  color: var(--cor-header);
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  align-items: stretch;
}

.menu-item:hover {
  background-color: var(--cor-fundo-header-hover);
}

.menu .menu-item:hover > * {
  color: var(--cor-header-hover);
}

.menu-item > a, .menu-item > a:visited {
  text-decoration: none;
  color: var(--cor-header);
}

.menu-item > a, .menu-item > span {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: calc(70px + 4rem);
  background-color: var(--cor-fundo-header-hover);
}

.dropdown-menu:hover .submenu {
  display: inline-block;
}

.submenu a, .submenu a:visited {
  font: bold var(--sub-header-tamanho) var(--sub-header-fonte), serif;
  color: var(--cor-header-hover);
  text-decoration: none;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.submenu-item {
  display: flex;
  justify-content: center;
}

.submenu-item:hover {
  background-color: var(--cor-header-hover);
}

.submenu-item:hover > a, .submenu-item:hover > a:visited {
  color: var(--cor-fundo-header-hover);
}

/* MENU MOBILE */
#btn-mobile {
  display: none;
}

#btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
}

.menu-mobile {
  display: block;
  position: absolute;
  left: 0;
  top: calc(70px + 4rem);
  width: 100vw;
  height: 0;
  background-color: var(--cor-fundo-menu-mobile);
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.6s;
}

#nav.ativo .menu-mobile {
  height: calc(100vh - (70px + 4rem));
  visibility: visible;
  overflow-y: auto;
}

.menu-mobile-item {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#mobile-item-ativo {
  background-color: var(--cor-fundo-menu-mobile-ativo);
}

#mobile-item-ativo a, #mobile-item-ativo a:visited {
  font-weight: bold;
}

.menu-mobile-item.menu-contato {
  background-color: var(--cor-fundo-menu-mobile-contato);
}

.menu-mobile-item.menu-contato a, .menu-mobile-item.menu-contato a:visited {
  color: var(--cor-menu-mobile-contato);
}

.menu-mobile a, .menu-mobile a:visited {
  display: block;
  font: var(--menu-mobile-tamanho) var(--menu-mobile-fonte), sans-serif;
  color: var(--cor-header);
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }  

  #btn-mobile {
    display: block;
  }
}